<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
    border: 1px solid black;
}
</style>
<center>
<h2>Checkout these cool car advertisements</h2>

	{{message}}
Click Here to Go to Your Profile <a href="/user/profile/{{user_id}}"> Profile</a>
</head>

<div class="posts">
<hr>
    {% for d in car_info %}
<table> 
 <p>Click the link below to see more details</p>   
    <a href="/user/ad/{{d[0]}}">More details</a>

       <tr>
    <td>Title:</td>
    <td>{{d[1]}}</td>
  </tr>
  <tr>
    <td>Description:</td>
    <td>{{d[2]}}</td>
  </tr>  
  <tr>
    <td>Location:</td>
    <td>{{d[3]}}</td>
  </tr>
  </table>  

</div>
{% endfor %}
</center>
</body>
</html>

