<!DOCTYPE html>
<html>
<style>
table, th, td {
    border: 1px solid black;
}
</style>
<body>
<title>My Profile</title>

    
	<h1>Hello, {{name}}</h1>
	
	<h2>Date of Birth: {{date_of_birth}}</h2>
	<h2>Driver's License: {{driver_license}}</h2>
	<h2>Email Address: {{email}}</h2>
	<p>{{message}}</p>

<a>Click the link to post your ads and see your post history</a>   
    <a href="/user/profile/{{user_id}}/ad">  Posts</a>

<br>
<br>
	<br>
 
 
<a>Click the link to go back to Cars Advertisements</a>   
    <a href="/user/{{user_id}}"> Cars Advertisements</a>    	

<br>
<br>
	<br>
 
 
<a>Click the link to see Transactions</a>   
    <a href="/user/profile/{{user_id}}/transaction">  Transactions</a>   
 
 <br>
 <br>
	<br>
    	
<a>Click the link to see Comments</a>   
    <a href="/user/profile/{{user_id}}/comment">  Comments</a>   
    	
	<br>
	<br>
	<br>
	<br>
<a>Click the link to see Book Marks</a>   
    <a href="/user/profile/{{user_id}}/bookmark">  Book Marks</a>   
    	
	<br>
	<br>	

		<br>
	<br>
	
	
		
</body>

 </body>
</html>